# Uploading some additional files to Azure Storage

In [14]:
import pandas as pd
from io import BytesIO
import os
import pyarrow
import azure.storage.blob 
from dotenv import load_dotenv
load_dotenv()

True

In [15]:

blobservice = azure.storage.blob.BlobServiceClient(
    account_url=os.environ.get('ACCOUNT_URL'),
    credential=os.environ.get('SAS_token')
)

In [6]:
country_and_continent = pd.read_csv('/Users/pankajkumar/Library/CloudStorage/OneDrive-NC/Business Analytics/1st Term/2nd Term/Capstone Project/Restart/Data/Usefull/Country.csv')

In [7]:
country_and_continent

               country code continent
0          Afghanistan   AF      Asia
1         land Islands   AX    Europe
2              Albania   AL    Europe
3              Algeria   DZ    Africa
4       American Samoa   AS   Oceania
..                 ...  ...       ...
244  Wallis and Futuna   WF   Oceania
245     Western Sahara   EH    Africa
246              Yemen   YE      Asia
247             Zambia   ZM    Africa
248           Zimbabwe   ZW    Africa

[249 rows x 3 columns]

In [16]:
HS6_codes = pd.read_excel('/Users/pankajkumar/Library/CloudStorage/OneDrive-NC/Business Analytics/1st Term/2nd Term/Capstone Project/Restart/Data/Usefull/HS6.xlsx')
HS6_codes

,HS6_Code,chapters,chapterName,sub_cat,Leaf_cat,Product
0,10110,1,Live animals,1,10,"Live horses, asses, mules and hinnies, pure-br..."
1,10111,1,Live animals,1,11,"Horses, live pure-bred breeding ..."
2,10119,1,Live animals,1,19,"Horses, live except pure-bred breeding ..."
3,10120,1,Live animals,1,20,"Asses, mules and hinnies, live ..."
4,10121,1,Live animals,1,21,"Horses, live, pure-bred breeding ..."
...,...,...,...,...,...,...
8639,981200,98,Special classification provisions - non commer...,12,0,"Commercial samples, o/t those of No 98.01 ..."
8640,990100,99,Special classification provisions - commercial,1,0,Low value export transactions and confidential...
8641,990200,99,Special classification provisions - commercial,2,0,Groceries ...
8642,990300,99,Special classification provisions - commercial,3,0,Duty free shop exports ...
8643,990400,99,Special classification provisions - commercial,4,0,"Goods of US origin, not advanced in value/impr..."

In [17]:
HS6_codes = HS6_codes.drop(columns=['sub_cat'])

In [11]:

parquet_buffer = BytesIO()
country_and_continent.to_parquet(parquet_buffer, engine='pyarrow')
parquet_buffer.seek(0)

blobclient = blobservice.get_blob_client(
    container=os.environ.get('container'),
    blob = 'country_and_continent.parquet'
)

blobclient.upload_blob(parquet_buffer, overwrite=True)
print('country_and_continent Uploaded')

country_and_continent Uploaded

In [18]:

parquet_buffer = BytesIO()
HS6_codes.to_parquet(parquet_buffer, engine='pyarrow')
parquet_buffer.seek(0)

blobclient = blobservice.get_blob_client(
    container=os.environ.get('container'),
    blob = 'HS6_codes.parquet'

)

blobclient.upload_blob(parquet_buffer, overwrite=True)
print('HS6_codes Uploaded')

HS6_codes Uploaded